@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #16032A;
  font-family: Rajdhani;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.main-header {
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  /* margin: auto; */
  width: 100%;
}

.main-nav {
  display: flex;
  background-color: #251942;
  margin: 0;
  padding: 0;
}

.brand-logo {
  display: flex;
  align-items: center;
  /* margin-left: 1rem; */
  margin: 0.2rem 1rem;
}

.player-img {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.player-images{
  /* padding: 0rem; */
  margin: 0.2rem 1rem;
}

.menu-icon {
  display: flex;
  /* margin: 1rem; */
  margin: 0.2rem 1rem;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 3.85rem;
  overflow: hidden;
  position: fixed;
}

.new-age-esport {
  display: flex;
  background-color: #251942;
  min-width: 18.75rem;
  min-height: 3.75rem;
}

.arrow-img {
  display: flex;
  margin-top: 0.05rem;
  margin-left: 1rem;
}

.text-left-sidebar {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  text-align: left;
}

.new-age-esport-text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
}

.create-tour-text {
  margin: 0;
  font-size: 14px;
  color: #BA32FF;
  font-weight: 600;
  letter-spacing: 1px;
}

.create-share {
  background-color: #251942;
  margin-top: 0.2rem;
  min-width: 18.75rem;
  min-height: 39.563rem;
  padding-left: 2.6rem;
  padding-top: 0.5rem;
  text-align: left;
}

.create-share.arrow-right:after {
  content: " ";
  position: absolute;
  right: 0px;
  top: 120px;
  border-top: 15px solid transparent;
  border-right: 15px solid #16032A;
  border-left: none;
  border-bottom: 15px solid transparent;
}

.create-share-heading {
  font-weight: bold;
  letter-spacing: 0.56px;
}

.create-share-sub{
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.49px;
  margin: 0;
}

.create-share-content{
  color: #7C758D;
}

.create-share-subcontent{
  margin-top: -12px;
}

.share-content{
  margin-top: 30px;
}